@(seriados: List[models.Seriado])

@main("Meus Seriados") {
	
	<head>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
		<link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
		<!-- Bootstrap JavaScript -->
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
 		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" rel="javascript" media="screen"></script>
 		<script src="@routes.Assets.at("javascripts/funcao.js")"></script>
	<head>

	<div class="row" style="text-align: center;">
			<div class="panel panel-default">
				<h1 class="panel-title" style="font-size: xx-large;">Acompanhamento de seriados</h1>
			</div>
	</div>
	

	<div class="row" style="text-align: center;">
    			<div class="col-sm-3" style="left: 10%;">
    				<div class="panel panel-default">
		    			<h1 class="panel-title" style="font-size: xx-large;">Todas as Séries</h1>
		    			@for(seriado <- seriados){
		    				<form method="post" action="@routes.Application.listarEpisodios(seriado.getId())">
			    					<input type="hidden" name="id" value="@seriado.getId()">
					        </form>
		    				<div id="showHide" class="panel-heading span5 episodio">
			    					<p class="unselectable">@seriado.getNome()</p>			    					
			    			</div>
		    				<ul class="lista list-group temps">			    				
		    					@for(temporada <- seriado.getTemporadas()){
		    						<div class="span5 eps">
                                   			<p class="list-group-item">Temporada @temporada.getNumero() </p>
                              		</div>
                              		<ul class="lista list-group eps">	
                              		@for(episodio <- temporada.getEpisodios()) {
                                            <li class="list-group-item">Episódio @episodio.getNumero(): @episodio.getTitulo</li>
                                    }
                                    </ul>

		    					}
		    				</ul>
		    				
		    			}
    				</div>
    			</div>
}